<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Creative 6</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <nav class="header navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a id="allUsersLink" href="/allusers">All Users</a></li>
                <li><a id="reviewLink" href="/user">All Reviews</a></li>
                <li><a id="logoutLink" href="/logout">Logout</a></li>
            </ul>
        </nav>
        <h2 id="welcomeText">Welcome
            <%= username %>
        </h2>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">

        <h3 style="text-align: center;">Add User</h3>
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            <form method="POST" action="/signup2">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Enter email"><br>
                </div>
                <div class="row">
                    <div class="col col-md-4"></div>
                    <input type="submit" id="register" value="Add" class="btn btn-primary col col-md-4">
                </div><br>
               <!--  <label>Username:</label>
                <input type="text" id="username" name="username"><br>
                <label>Password:</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" id="login" value="Login"> -->
            </form>
        </div>

      </div>
    </div>
    <hr>
    <h4 style="color: green; text-align: center;" id="indexMsg">
        <%= msg %>
    </h4>
    <hr>
    <br>
    <div class="container">
      <div class="row justify-content-md-center">

        <h3 style="text-align: center;">Add Class Review</h3>
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            <form method="POST" action="/addReview">
                <div class="form-group">
                  <label>Class review:</label>
                  <textarea type="text" class="form-control" id="review" name="review" aria-describedby="emailHelp" placeholder="Enter review" ng-model="user.review"></textarea>
                </div>
                <div class="row">
                    <div class="col col-md-4"></div>
                    <input type="submit" id="register" value="submit" class="btn btn-primary col col-md-4">
                </div><br>
               <!--  <label>Username:</label>
                <input type="text" id="username" name="username"><br>
                <label>Password:</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" id="login" value="Login"> -->
            </form>
        </div>

      </div>
    </div>
<!--     <span id="colorText">
        Color
        <%= color %>
      </span> -->
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
      
</html>